/* color pallette
	buff: #F2DD86;
	cadet gray: #8EA8C3;
	dark lava: #4F4940;
	honey yellow: #F6B009;
	coral: #FB8F67;
*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
html,body{
  margin:0;
  height:100%;
  font-family: 'PT Sans', sans-serif;
}
a{
  display:flex;
}
.header{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
	text-align: center;
  height:50vw;
  min-height:400px;
  max-height:500px;
  min-width:300px;
  color:#eee;
}
.altheader{
  position:relative;
	overflow:hidden;
	display:flex;
	flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  text-align: center;
  height:130px;
  width: 100%;
  background: url(hcombg.png) 100%;
  }
.logo{
  justify:center;
  position: relative;
  left: -90px;
  margin:auto;
  margin-top: 5px;
  align-items: center;
}
.header:after{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
}
.header:before{
  content:"";
  width:100%;
  height:200%;
  position:absolute;
  top:0;
  left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); backface-visibility: hidden;
  scale(1.0, 1.0);
    transform: translateZ(0);
  background: url(honeycomb.png) 50% 0 no-repeat;
  background-size:100%;
  background-attachment:fixed;
  animation: grow 100s  linear 10ms infinite;
  transition:all 0.4s ease-in-out;
  z-index:-2
}
.header a{
  color:#eee
}

.sides, .info{
  flex: 0 0 auto;
  width:50%
}
.info{
  width:100%;
  padding:15% 10% 0 10%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
}
@keyframes grow{
  0% { transform: scale(1) translateY(0px)}
  50% { transform: scale(1.2) translateY(-400px)}
}
.content{
  padding:5% 10%;
  text-align:justify;
  background-color: #F2DD86;
	/* background-image: url("css/webbg.jpg"); */
}
/*video*/
.contentv{
  padding:5% 10%;
  text-align:center;
	background-color: #F2DD86;
}
.frame {
  width: 100%;
  background-color:#f7c54d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 20px;
}
.container {
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
}
.container p {
  text-align: left;
}
.a {
  text-indent: 50px;
  margin-right: auto;
  margin-left: auto;
}
.video{
  padding-top: 10px;
}
/*menu style*/
.btn{
  color:#333;
  border:2px solid;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  padding:5px 10px;
  font-weight:600
}
.dropbtn {
  color: white;
  padding: 10px;
	background-color: transparent;
	border: 1px;
  font-size: 20px;
	font-family: sans-serif;
  cursor: pointer;
	border:2px solid #fff;
  border-radius:3px;
  text-decoration:none;
  display:inline-flex;
  align-items:center;
  align-content:center;
  margin:20px;
  padding:0px 10px;
  font-weight:900;
  font-size:1.1em;
  line-height:1;
  box-sizing:border-box;
  height:40px
}

.dropdown {
  position: fixed;
  top: 10px;
  right: 10px;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
	opacity:0.75;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #747575;
	opacity: 0.5;
}
.pointer{
  position: absolute;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  background: url(bee.png);
  position: absolute;
  left: 50%;
  top: 50%;
  margin: auto;
  pointer-events: none;
  box-sizing: border-box;
  transition: 0.1s;
}
