@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap);
html,body{
  margin: 0;
  height: auto;
  font-family: 'Raleway', sans-serif;
  background-color: #F2DD86;
}
a{
  text-decoration:none
}
.altheader{
	position:relative;
	overflow:hidden;
	display:flex;
	flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
	text-align: center;
	color: #4F4940;
	font-weight: bold;
  height:130px;
  width: 100%;
  background: url(hcombg.png) 100%;
}
.text{
  position:relative;
  overflow:hidden;
  display:block;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  margin-top: 30px;

}


.btn{
  color:#333;
  border:2px solid;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  padding:5px 10px;
  font-weight:600
}
.dropbtn {
  color: white;
  padding: 10px;
	background-color: transparent;
	border: 1px;
  font-size: 20px;
	font-family: sans-serif;
  cursor: pointer;
	border:2px solid #fff;
  border-radius:3px;
  text-decoration:none;
  display:inline-flex;
  align-items:center;
  align-content:center;
  margin:20px;
  padding:0px 10px;
  font-weight:900;
  font-size:1.1em;
  line-height:1;
  box-sizing:border-box;
  height:40px
}

.dropdown {
  position: fixed;
  top: 10px;
  right: 10px;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
	opacity:0.75;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #747575;
	opacity: 0.5;
}
.pointer{
  position: absolute;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  background: url(bee.png);
  position: absolute;
  left: 50%;
  top: 50%;
  margin: auto;
  pointer-events: none;
  box-sizing: border-box;
  transition: 0.1s;
}
